<div class="profile-container">
  {{> navbar activePage="" }}

  <!-- Back Arrow -->
  <div class="back-arrow-wrapper">
    <a href="/home">
      <img src="/images/arrow.png" alt="Back" class="back-arrow-img" />
    </a>
  </div>

  <!-- User Info Section -->
  <div class="user-info-section">
    <div class="user-avatar-wrapper">
      <img class="user-avatar" src="/images/user.png" alt="User" />
    </div>
    <div>
      <div class="profile-name">
        Jules Dela Cruz <span class="italic">(MAE)</span>
      </div>
      <div class="profile-bio">
        Passionate volunteer. Loves helping communities and hosting outreach programs.
      </div>
    </div>
  </div>
</div>
