<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Arimo+Hebrew+Subset&family=Arvo:wght@400;700&display=swap" rel="stylesheet">

    <!-- Global Styles -->
    <link rel="stylesheet" href="/css/Navbar.css" />

    <!-- Page-specific styles -->
    {{{styles}}}
  </head>
  <body>
    {{#if showNavBar}}
      {{> navbar activePage=activePage }}
    {{/if}}

    {{{body}}}
  </body>
</html>
