<div class="container">
  <h1 class="welcome-text">Welcome to LOVELink!</h1>
  
  <img
    src="/Images/COSCA-LOVE GREEN AND RED LOGO.png"
    alt="COSCA-LOVE Logo"
    class="logo"
  />

  <button class="logresidency-button">
    Log Residency
  </button>

  <button class="viewactivities-button">
    <a href="/organization-activities"> View Upcoming Activities </a>
  </button>

  <button class="viewmembers-button">
    View Other Members
  </button>
</div>
