<div class="container">
  <h1 class="welcome-text">Welcome to LOVELink!</h1>
  
  <img
    src="/Images/COSCA-LOVE GREEN AND RED LOGO.png"
    alt="COSCA-LOVE Logo"
    class="logo"
  />

  <form action="/residency" method="get">
    <button class="logresidency-button">Log Residency</button>
  </form>

  {{#if user.isOfficer}}
    <form action="/log-activity" method="get">
      <button class="logresidency-button">Log Activity</button>
    </form>
  {{/if}}

  <form action="/organization-activities" method="get">
    <button class="viewactivities-button">View Upcoming Activities</button>
  </form>


  <button class="viewmembers-button">
    View Other Members
  </button>
</div>
