<div class="container">
  <h1 class="welcome-text">Only members of COSCA-LOVE <br> can use the application!</h1>
  
  <img
    src="/Images/sad.png"
    alt="Sad face Logo"
    class="logo"
  />

   <a href="/">
    <button class="google-button">
      Return to Landing Page
    </button>
  </a>

</div>
