<div class="container">
  <h1 class="welcome-text">Only members of COSCA-LOVE can use the application!</h1>
  
  <img
    src="/Images/sad.png"
    alt="Sad face Logo"
    class="logo"
  />

  <button class="homepage-button">
    Return to Home Page
  </button>
</div>
