<div class = view-activities-page>
    {{> navbar activePage="home" }}

    <div class = content-container>
        <div class = title>
            <h1>COSCA-LOVE's  Activities</h1>
        </div>

        <div class = activities>
            {{#each events}}
                <div class = event-container> 
                    <p>{{this.eventName}}</p>
                    <p>{{this.date}}</p>
                </div>
            {{/each}}
        </div>

      <div class="return">
        <a href="/home" class="return-button">Return</a>
      </div>
    </div>
</div>